@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.text-align-center {
  text-align: center;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.no-m {
  margin: 0;
}

.rating-title {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 1.4rem;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.ratings-container {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-bottom: 10px;
}

.rating-container {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  align-items: center;
  max-width: 300px;
  grid-template-columns: 1fr 1fr;
}

.rating-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating-info p {
  text-align: center;
}

.fa-brands {
  font-size: 3rem;
}

.rating-number {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
}

.score-container {
  display: grid;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.review-count {
  color: gray;
  font-family: "Roboto", sans-serif;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-yelp {
  color: #ff1a1a;
}
